<h1>{{title}}</h1>
<div>
  <button>
  <app-clientes class="" ></app-clientes>
  </button>
  <button>
    <app-empleados></app-empleados>
  </button>
  <button>
    <app-paquetes></app-paquetes>
  </button>
  <button>
    <app-usuarios></app-usuarios>
  </button>
  <button>
    <app-citas></app-citas>
  </button>
  <button>
    <app-servicios></app-servicios>
  </button>
  <button>
    <app-roles></app-roles>
  </button>
  <button>
    <app-suscripcion></app-suscripcion>
  </button>
  <button>
    <app-agendamiento></app-agendamiento>
  </button>
  <button>
    <app-dashboard></app-dashboard>
  </button>
  <button>
    <app-programacion></app-programacion>
  </button>
</div>


